@font-face {
    font-family: 'Amazon font';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/Amazon-Ember-Medium.ttf") format('opentype');
}

@font-face {
    font-family: 'Amazon font';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Bd.ttf") format('opentype');
}

//font family

$primary-font:'Amazon font';

//font weight

$weight-regular:400;
$weight-semi:600;




