@use "../../partials/_colors" as *;
@use "../../partials/_typographys" as *;
@use "../../partials/_mixins" as *;
@use "../../partials/_variables" as *;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer-container{
    font-family: $primary-font;
    background-color: $columbia-blue;
    display: flex;
    padding: 1rem 0;
    margin-top: 8rem;
}

.youtube-logo__style{
    height: 2rem;
    width: 8rem;
}

.contact__style{
    margin-left: $margin;
}

.footer-content__style{
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    color: $white
}

.footer__link{
    text-decoration: none;
    color: $white;
}