@use "../../partials/_colors" as *;
@use "../../partials/_typographys" as *;
@use "../../partials/_mixins" as *;
@use "../../partials/_variables" as *;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.watchlist-display__style{
    font-family: $primary-font;
    color: $columbia-blue;
}