@use "../../partials/_colors" as *;
@use "../../partials/_typographys" as *;
@use "../../partials/_mixins" as *;
@use "../../partials/_variables" as *;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form__style{
    font-family: "Amazon font";
    width: 80%;
    margin: 0 auto;
}

.form-group{
    margin: 1rem 0
}

.label__style{
    padding-right: 2rem;
}

.flex__style{
    display:flex;
}

.btn-primary{
    background-color: $columbia-blue;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    border: transparent;
    width: 5rem;
    margin-bottom: 1rem;
}



